.vertical-text {
     color:#A94442;
     position:relative;
     float:right;

 }
.vertical-text2 {
    color:#A94442;
    float:left;
    position:relative;
    padding-left:40px;
    padding-right:20px;

}

.main-box{
    text-align: center;
    width:300px;
    height:300px;
    padding:30px;
    margin:0px auto;
}

body {
    background-color: #EFD6D6;
}

.button-color{
    color:white;
}

.question-marks{
    color:#A94442;
}
.btn-grey {
    background: #9b59b6;
    border-color: #9b59b6;
}

.play-again{
    display:none;
}

.getting-warmer{
    display:none;
    position:absolute;
    text-align: center;
    margin-bottom: 3px;
    margin-left:26px;


}
.getting-colder{
    display:none;
    position:absolute;
    text-align: center;
    margin-bottom: 3px;
    margin-left:33px;

}
.panel-body{
    margin-top: 20px;
}
.alert-default {
color: #ffffff;
background-color: #c0c0c0;
border-color: #ffffff;
}
.hint{

}

.history{
   display:none
}